* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(2, 2, 44);
  color: white;
}
hr {
  border: 0;
  background: rgb(86, 86, 155);
  height: 1px;
  margin: 60px 84px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(28, 17, 71);
  color: white;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(154, 154, 214);
  font-size: 1.08rem;
}
.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 110px 0;
}

.firstSection > div {
  width: 32%;
}

.leftSection {
  font-size: 3rem;
  margin: 70px 0;
}
.leftSection .buttons {
  padding: 50px 0px;
  display: flex;
  gap: 45px;
}
.leftSection .btn {
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 80%;
}

.purple {
  color: blueviolet;
}

#element {
  color: blueviolet;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.text-gray {
  color: grey;
}
.secondSection .box {
  background: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 98px;
  position: relative;
  /* gap: 120px; */
  left: 15px;
}

.img-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title {
  position: relative;
  top: 75px;
  left: -50px;
  width: 160px;
  font-weight: bold;
}
.vertical-desc {
  position: relative;
  top: 86px;
  left: -50px;
  color: gray;
  width: 150px;
  font-size: 12px;
}
footer {
  background-color: rgb(54, 18, 89);
  position: relative;
  bottom: -22.2cm;
  flex-shrink: 0;
}
.footer {
  display: flex;
  padding: 62px 335px;
  justify-content: space-evenly;
  position: relative;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 203px;
}
.footer-right {
  text-align: center;
  color: gray;
  padding: 12px 0px;
}

#codesoftimg {
  width: 107px;
  position: relative;
  left: -45px;
}

#codetantraimg {
  width: 152px;
  position: relative;
  left: -65px;
  top: -31px;
  background: white;
}

.thirdSection {
  max-width: 80vw;
  margin: auto;
  height: 195vh;
}

.thirdSection h1 {
  font-size: 1.9rem;
}

.thirdSection h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
  color: #444;
}

.thirdSection h3 {
  font-size: 1.5em;
  color: #555;
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
}

section#skills {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-category {
  margin: 20px 0;
  background-color: #141251;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.1);
  margin-top: 40px;
}

.skill-list {
  list-style-type: none;
  padding: 0;
}

.skill-list li {
  font-size: 1.2em;
  margin: 10px 0;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
}

.skill-list li:hover {
  background-color: #d5d5d5;
}

.fourthSection {
  max-width: 80vw;
  margin: auto;
  height: 55vh;
}

.fourthSection h1 {
  font-size: 1.9rem;
}

.fourthSection .box {
  background: white;
  height: 2px;
  position: relative;
  top: 340px;
  width: 850px;
  left: 5cm;
  transform: scale(1.1);
}

.fourthSection .vertical1 {
  background: white;
  height: 170px;
  width: 2px;
}

.fourthSection .vertical2 {
  background: white;
  height: 170px;
  width: 2px;
  position: relative;
  top: -340px;
  left: 150px;
}

.fourthSection .vertical3 {
  background: white;
  height: 170px;
  width: 2px;
  position: relative;
  top: -340px;
  left: 310px;
}

.fourthSection .vertical4 {
  background: white;
  height: 170px;
  width: 2px;
  position: relative;
  top: -681px;
  left: 480px;
}

.fourthSection .vertical5 {
  background: white;
  height: 170px;
  width: 2px;
  position: relative;
  top: -680px;
  left: 630px;
}

.verticalimg {
  position: relative;
  width: 230px;
  top: -27.9cm;
  left: 18.6cm;
}

.vert-title {
  width: 216px;
  position: relative;
  bottom: -167px;
  left: -82px;
}

.vert1-title {
  width: 216px;
  position: relative;
  bottom: 20px;
  left: -90px;
}

.vert2-title {
  width: 216px;
  position: relative;
  bottom: 39px;
  left: -96px;
}

.vert3-title {
  width: 216px;
  position: relative;
  bottom: -167px;
  left: -56px;
}
